<%= form_for(@player, html: {class: "form-horizontal"}) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :first_name , class: 'control-label'%><br />
    <div class="controls">
      <%= f.text_field :first_name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :last_name %><br />
    <div class="controls">
      <%= f.text_field :last_name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email %><br />
    <div class="controls">
      <%= f.text_field :email %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :gamer_tag %><br />
    <div class="controls">
      <%= f.text_field :gamer_tag %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :preferred_class %><br />
    <div class="controls">
      <%= f.text_field :preferred_class %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :squad %><br />
    <div class="controls">
      <%= f.collection_select :squad_id, Squad.all, :id, :name %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
