<%= form_for(@player, html: {class: "form-horizontal"}) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">

   <div class="control-group, greenglow">
    <%= f.label :first_name , class: 'control-label'%>
    <div class="controls">
      <%= f.text_field :first_name %>
    </div>
   </div><br>

    <div class="control-group, greenglow">
      <%= f.label :last_name, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :last_name %>
      </div>
    </div><br>

    <div class="control-group, greenglow">
      <%= f.label :gender, class: 'control-label' %>
      <div class="controls">
        <%= f.radio_button :gender, 'Male' %> <%=  f.label :status, 'Male' %>
        <%= f.radio_button :gender, 'Female' %> <%=  f.label :status, 'Female' %>
      </div>
    </div><br>
    <div class="control-group, greenglow">
      <%= f.label :email, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :email %>
      </div>
    </div><br>

    <div class="control-group, greenglow">
      <%= f.label :gamer_tag, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :gamer_tag %>
      </div>
    </div><br>

    <div class="control-group, greenglow">
      <%= f.label :preferred_class, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :preferred_class %>
      </div>
    </div><br>

    <div class="control-group, greenglow">
      <%= f.label :squad, class: 'control-label' %>
      <div class="controls">
        <%= f.collection_select :squad_id, Squad.all, :id, :name %>
      </div>
    </div><br>

    <div class="control-group, greenglow">
      <%= f.label :battlelog_user, class: 'control-label'  %>
      <div class="controls">
        <%= f.check_box :battlelog_user, { :class => 'blu_check' } , 'Yes', 'No' %> <%= f.label :status, 'Yes' %>
      </div>
    </div><br>

    <div class="form-actions, span6" style="text-align: center">
      <%= f.submit class: "btn btn-primary"%>
    </div>
  </div>
<% end %>
