<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @player.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @player.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @player.email %>
</p>

<p>
  <b>Gamer tag:</b>
  <%= @player.gamer_tag %>
</p>

<p>
  <b>Preferred class:</b>
  <%= @player.preferred_class %>
</p>

<p>
  <b>Squad:</b>
  <%= @player.squad %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
